process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 250.MB
    }
    withName: assess_ReadQuality_FastQC_readgroup {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: assess_ReadQuality_FastQC_library {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: assess_ReadQuality_FastQC_sample {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: run_stats_SAMtools_readgroup {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: run_stats_SAMtools_library {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: run_stats_SAMtools_sample {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: run_CollectWgsMetrics_Picard {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: run_bamqc_Qualimap {
        cpus = 2
        memory = 4.GB
    }
}
