process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 250.MB
    }
    withName: assess_ReadQualityReadgroups_FastQC {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: assess_ReadQualityLibraries_FastQC {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: assess_ReadQualitySamples_FastQC {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: run_statsReadgroups_SAMtools {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: run_statsLibraries_SAMtools {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: run_statsSamples_SAMtools {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: run_CollectWgsMetrics_Picard {
        cpus = 1
        memory = 1500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2000.MB
            }
        }
    }
    withName: run_bamqc_Qualimap {
        cpus = 2
        memory = 4.GB
    }
}
