process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
    }
    withName: run_stats_SAMtools {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_CollectWgsMetrics_Picard {
        cpus = 1
        memory = 4.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_bamqc_Qualimap {
        cpus = 16
        memory = 4.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
}
