process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = .25.GB
    }
    withName: assess_ReadQualityReadgroups_FastQC {
        cpus = 2
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: assess_ReadQualityLibraries_FastQC {
        cpus = 2
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: assess_ReadQualitySamples_FastQC {
        cpus = 2
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: assess_coverage_mosdepth {
        cpus = 1
        memory = 2.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_statsReadgroups_SAMtools {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_statsLibraries_SAMtools {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_statsSamples_SAMtools {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_CollectWgsMetrics_Picard {
        cpus = 1
        memory = 2.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_bamqc_Qualimap {
        cpus = 4
        memory = 9.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 7.GB
            }
        }
    }
}
