process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 250.MB
    }
    withName: assess_ReadQualityReadgroups_FastQC {
        cpus = 2
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: assess_ReadQualityLibraries_FastQC {
        cpus = 2
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: assess_ReadQualitySamples_FastQC {
        cpus = 2
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: assess_coverage_mosdepth {
        cpus = 1
        memory = 3.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: quantize_coverage_mosdepth {
        cpus = 1
        memory = 8.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 8.GB
            }
        }
    }
    withName: run_statsReadgroups_SAMtools {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_statsLibraries_SAMtools {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_statsSamples_SAMtools {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_CollectWgsMetrics_Picard {
        cpus = 1
        memory = 4.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_bamqc_Qualimap {
        cpus = 16
        memory = 38.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 24.GB
            }
        }
    }
}
