process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 250.MB
    }
    withName: run_stats_SAMtools_readgroup {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_stats_SAMtools_library {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_stats_SAMtools_sample {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_CollectWgsMetrics_Picard {
        cpus = 1
        memory = 4.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 4.GB
            }
        }
    }
    withName: run_bamqc_Qualimap {
        cpus = 16
        memory = 38.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 24.GB
            }
        }
    }
}
